<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- git -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="org.nodeclipse.editor.GitFileEditor"
            name="Git Files Editor"
            class="org.eclipse.ui.editors.text.TextEditor"
            default="true"
            extensions="gitignore,gitmodules,gitattributes"
            icon="icons/git.gif">
      </editor>
   </extension>

</plugin>
